#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_auto_clean:
	rm -f nscd
	dh_auto_clean

override_dh_auto_build:
	gcc $(CFLAGS) $(LDFLAGS) -o nscd nscd.c -lsystemd
	help2man --name 'nscd which does not hang' \
		--include debian/help2man \
		--no-info \
		./nscd > debian/unscd.man
	ln -fs unscd.man debian/nscd.man

override_dh_auto_install:
	install -d debian/unscd/usr/sbin/
	install -t debian/unscd/usr/sbin/ nscd
	install -d debian/unscd/etc/
	install -m644 -t debian/unscd/etc/ debian/nscd.conf

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade --no-stop-on-upgrade
