#!/usr/bin/make -f

#DH_VERBOSE = 1


PREFIX=$(shell pwd)/debian/unscd/

CFLAGS = -Wall -g

INSTALL=install

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif


build: build-stamp
build-stamp:
	dh_testdir

	gcc $(CFLAGS) -o nscd nscd.c

	touch $@

clean:
	dh_testdir
	dh_testroot

	rm -f build-stamp

	rm -f nscd

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(INSTALL) -d $(PREFIX)/usr/sbin/
	$(INSTALL) -t $(PREFIX)/usr/sbin/ nscd
	$(INSTALL) -d $(PREFIX)/etc/
	$(INSTALL) -t $(PREFIX)/etc/ debian/nscd.conf

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs README
	dh_installman
	dh_installinit
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary-indep binary install
